version: "3"

services:
  app_backend:
    build: ./backend
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
      - JWT_SEED=${JWT_SEED}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}

  app_frontend:
    build: ./frontend
    ports:
      - 80:80
